h1= title
p= gender
p= messages

- each message in messages
	p= message.msg

script
	$(document).ready( function() {
		var gender = "#{gender}"
	});	
	
div
	div#input
		input(type='text' id='data')
		input(type='button' id='datasend' value='send')
